<div class="col-md-4 pull-right">
  <h4>Instructions</h4>
  <ul class="list-group">
    <li class="list-group-item">1. Fill in your information</li>
    <li class="list-group-item">2. Ensure everything looks good in the preview pane</li>
    <li class="list-group-item">3. Click the "Combobulate My Signature!" button to export your signature to a new window</li>
    <li class="list-group-item">4. In the pop-up window, use CTRL+A shortcut to select all, then CTRL+C shortcut to copy the signature to your clipboard</li>
    <li class="list-group-item">5. Paste the copied signture to the signature box in GMail settings window</li>
  </ul>
</div>


<div class="col-md-7">
  <h4>Enter Your Information</h4>
  <form>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <!--<input type="text" class="form-control" id="fullName" placeholder="Firstname Lastname">-->
      <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Firstname Lastname" [(ngModel)]="fullName">

    </div>
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title or Position" [(ngModel)]="jobTitle">
    </div>
    <label>Telephone</label>
    <div class="form-group row">

      <div class="col-xs-3">

        <input class="form-control" id="phoneArea" name="phoneArea" type="text" placeholder="123" [(ngModel)]="phoneArea">
      </div>
      <div class="col-xs-3">
        <input class="form-control" id="phonePrefix" name="phonePrefix" type="text" placeholder="456" [(ngModel)]="phonePrefix">
      </div>
      <div class="col-xs-6">
        <input class="form-control" id="phoneSuffix" name="phoneSuffix" type="text" placeholder="7890" [(ngModel)]="phoneSuffix">
      </div>
    </div>
    <div class="form-group">
      <label for="jobTitle">Secondary Message</label>
      <input type="text" class="form-control" name="secondText" id="secondText" placeholder="Please keep it short!" [(ngModel)]="secondText">
    </div>

  </form>

  <h4>Preview</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <div>
        <app-sigoutput [fullName]="fullName" [jobTitle]="jobTitle" [phoneArea]="phoneArea" [phonePrefix]="phonePrefix" [phoneSuffix]="phoneSuffix"
          [secondText]="secondText"></app-sigoutput>
      </div>
    </div>
  </div>


  <button type="button" class="btn btn-primary">Combobulate My Signature!</button>

</div>

<div class="col-md-1">
</div>